body {
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
  margin: 0; /* Remove default margins for better layout control */
  padding: 0; /* Ensure no padding around body */
  background-color: #f4f4f4; /* Neutral background to reduce strain on eyes */
  display: flex; /* Flex layout for easy centering */
  flex-direction: column;
  width: 100%;
}
button {
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
}
/* Normal variant */
@font-face {
  font-family: "Kohinoor Bengali";
  src: url("font/KohinoorBangla-Light.otf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

/* Regular variant */
@font-face {
  font-family: "Kohinoor Bengali";
  src: url("font/KohinoorBangla-Regular.otf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* Medium variant */
@font-face {
  font-family: "Kohinoor Bengali";
  src: url("font/KohinoorBangla-Medium.otf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* Semibold variant */
@font-face {
  font-family: "Kohinoor Bengali";
  src: url("font/KohinoorBangla-Semibold.otf") format("truetype");
  font-weight: 600; /* Semibold */
  font-style: normal;
}

/* Bold variant */
@font-face {
  font-family: "Kohinoor Bengali";
  src: url("font/KohinoorBangla-Bold.otf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
}

.password-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.password-container input {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container button {
  padding: 10px 20px;
  border: none;
  background-color: #1e8449;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.password-container button:hover {
  background-color: #145a32;
}

header {
  text-align: center;
  padding: 50px;
  background-color: #1e8449;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
}

.p1 {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

#blog-section {
  width: 50%;
  margin: 50px auto;
  padding: 5%;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.allah-hu-akbar {
  text-align: center;
  margin-bottom: 50px;
}

.allah-hu-akbar img {
  width: 100px;
  height: auto;
}

.search-bar {
  margin-bottom: 30px;
  text-align: center;
}

#search-box {
  width: 80%;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid #000000;
  border-radius: 20px;
}

#search-box:not([lang="bn"]) {
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
}

#search-box[lang="bn"] {
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
}
.blog-category-section {
  display: flex;
  justify-content: space-between;
}
.blog-category-option {
  text-align: center;
}

.category-button {
  padding: 8px 12px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #1e8449;
  border: 2px solid #1e8449;
  color: white;
}

.category-button.active {
  background-color: #1e8449;
  border: 2px solid #1e8449;
  color: white;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.blog-item {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid black;
  transition: transform 0.2s ease-in-out;
}

.blog-item:hover {
  transform: scale(1.02);
}

.blog-item h3 {
  margin: 0 0 5px;
  text-align: center;
}

.blog-item p {
  margin: 0 0 0px;
  color: #555;
}

.blog-item a {
  text-decoration: none;
  color: #1e8449;
  font-weight: bold;
}

.blog-item a:hover {
  text-decoration: underline;
}
.blog-info-distributor {
  display: flex;
  justify-content: space-between;
}

.blog-section {
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5%;
  margin: 50px auto;
}

.blog-section h1,
.blog-section h2 {
  text-align: center;
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
  font-weight: 600;
}
.blog-section p {
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
  font-weight: 600;
}
.blog-image {
  width: 100%;
  border-radius: 20px;
}
.blog-section h1 {
  font-weight: 700;
}

.comment-form label {
  font-size: 15px;
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
  font-weight: 600;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-family: "Montserrat", "Kohinoor Bengali", sans-serif;
  font-weight: 500;
  border: 2px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

.comment-form input:focus,
.comment-form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.comment-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  #blog-section {
    width: 80%;
  }
  .blog-section {
    width: 80%;
    margin: 50px auto;
  }
  .blog-image {
    width: 100%;
    border-radius: 20px;
  }
  .allah-hu-akbar {
    text-align: center;
    margin: 30px;
  }
  .blog-category-section {
    display: flex;
    justify-content: space-between;
  }
  .blog-category-option {
    text-align: center;
  }
  .category-button {
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
